body {
    background-color: black;
    background-image: url('/images/black.jpg');
}
h2 {
    color: White;
}
a {
/*color: #00B7FF;*/
}
.create{
    background-color: #454545;
    color: #ffffff;
    float: right;
    margin-top: -8px;
}
#logo {
    width: 3%;
    height: 3%;
    float: left;
    padding-top: 30px;
    margin-right: 30px;
}

.form-group,
.search-label {
  margin-right: 20px;
}

#inputKeyWords {
    width: 300px;
}

#result {
    /*visibility: hidden;*/
}